// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  text-align: center;
  margin: auto;
}

.current-usage {
  font-size: 6em;
  line-height:1em;
}

.estimated-usage {
  font-size: 4em;
}

div#main {
  padding-top: 1em;
}

h1, h2 { 
	margin-bottom: 1px;
}
