// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  text-align: center;
  margin: auto;

  table {
    margin: auto;
  }
}

.current-usage {
  line-height:1em;
}

.estimated-usage {
}

div#main {
  padding-top: 1em;
}

h1, h2 { 
	margin-bottom: 1px;
}

#daily-history.table, #monthly-history.table {
  width: auto;
  td, th {
    text-align:right;
  }
}

.usage h1, .usage h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

.usage {
  font-size: .8em;
  line-height: .8em;
}

.history {
  font-size: .8em;
  margin-bottom: 1em;
}

.devices {
  margin-top: .25em;
}
